<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
            ngModel
          required          />
          </div>
          <button class="btn btn-default" type="button">
            Suggest an Username
          </button>
          <div class="form-group">      
            <label for="email">Mail</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              ngModel
              required email
              #email="ngModel"
            />
            <!-- #eamil this is create the refernce of email feild -->
            <!-- error message show  -->
            <span *ngIf="!email.valid && email.touched">Please enter a valid email</span>
          </div>
         
        </div>
       
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" 
          name="secret" [ngModel]="defaultQuestion">

          <!-- [ngModel ] this is using property binding  -->
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first name?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="question" id="" [(ngModel)]="answer"></textarea>
        </div>
        <!-- two ay data binding -->
        <h4>Your Reply {{answer}}</h4>
        <button class="btn btn-primary" type="submit"  [disabled]="!form.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
